*__pycache__*
.vscode

train_log/*
convert_models*

local*/*

run*.sh

eval_res/*
kitti/*
example_img/*
dav2_logs/*
logs/*
melo_logs/*
encoder_feature_test/*
stereo_sample/*
Depth-Anything-V2/assets/*

path_my.py

pretrained_models/*

annoted/*

flsea-stereo/*

*.pth
*.log
*.zip